<?php

return [
    'cache' => [
        'host' => trim(getenv('FTCBOT_WEBSOCKET_CACHE_HOST')),
        'port' => trim(getenv('FTCBOT_WEBSOCKET_CACHE_PORT')),
        'timeout' => 2,
        'version' => trim(getenv('FTCBOT_WEBSOCKET_CACHE_VERSION')),
    ],
];
