<?php

return [
    'cache' => [
        'host' => getenv('FTCBOT_WS_CACHE_HOST'),
        'port' => getenv('FTCBOT_WS_CACHE_PORT'),
        'timeout' => 2,
        'version' => getenv('FTCBOT_WS_CACHE_VERSION'),
    ],
];
